asttokens
backcall
backports.functools-lru-cache
colorama
comm
debugpy
decorator
et-xmlfile==1.1.0
exceptiongroup
executing
importlib-metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy==1.26.0
openpyxl==3.1.2
packaging
pandas==2.1.1
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pytz==2023.3.post1
# pywin32
pyzmq
setuptools==68.0.0
six
stack-data
tornado
traitlets
typing_extensions
tzdata==2023.3
wcwidth
dash